* {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
    color: rgb(39, 39, 39);
}

a {
    text-decoration: none;
    color: rgb(36, 36, 36);
}

a:visited {
    text-decoration: none;
    color: rgb(36, 36, 36);
}


nav {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "left . right";
    font-size: 13px;
}

#nav_left {
    grid-area: left;
    display: inline-flex;
}

#nav_right {
    grid-area: right;
    display: inline-flex;
    justify-content: flex-end;
}

footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        "left . right";
    background-color: rgb(245, 245, 245);
    border-top: 1px solid rgb(153, 153, 153);
    font-size: 13px;
}

#footer_left {
    grid-area: left;
    display: inline-flex;
}

#footer_right {
    grid-area: right;
    display: inline-flex;
    justify-content: flex-end;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}